<h1> Editando Restaurante </h1>
  <%= form_for @restaurante do |f| %>
    Nome: <%= f.text_field :nome %><br />
    Endereço: <%= f.text_field :endereco %><br />
    Especialidade: <%= f.text_field :especialidade %><br />
    <%= f.submit %>
  <% end %>
