<table>
  <tr>
    <th>Id</th>
    <th>Nome</th>
    <th>Endereço</th>
    <th>Especialidade</th>
  <tr>
  <% @restaurantes.each do |restaurante| %>
    <tr>
      <td><%= restaurante.id %></td>
      <td><%= restaurante.nome %></td>
      <td><%= restaurante.endereco %></td>
      <td><%= restaurante.especialidade %></td>
      <td>
        <%= link_to 'Mostrar', action: 'show', id: restaurante.id %>
      </td>
      <td>
        <%= link_to 'Editar', action: 'edit', id: restaurante.id %>
      </td>
      <td>
        <%= link_to 'Deletar', {action: 'destroy', id: restaurante.id}, {method: "delete"} %>
      </td>
    </tr>
  <% end %>
  <%= link_to 'Novo', action: 'new' %>
</table>
