<h1> Exibindo Restaurantes </h1>
<p>
  <b> Nome: </b>
  <%= @restaurante.nome %>
</p>
<p>
  <b> Endereço: </b>
  <%= @restaurante.endereco %>
</p>
<p>
  <b> Especialidade: </b>
  <%= @restaurante.especialidade %>
</p>
<%= link_to 'Voltar', action: 'index' %>
